@model PetFinder.Models.Usuario
@inject DataContext context


@{
    ViewData["Title"] = "Contacto Mascota";
}

<div>
    <h4>Contacto Mascota</h4>
    <hr />
    <div class="row mb-2">
        <div class="col-md-12">
            <form asp-action="Edit" class="needs-validation" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <input asp-for="Apellido" class="form-control" readonly />
                            <div class="invalid-feedback">Ingrese Apellido.</div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Nombre" class="form-control" readonly />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Ciudad" class="form-control" readonly />
                            <span asp-validation-for="Ciudad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Telefono" class="form-control" readonly />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" readonly />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>                       
                        <div class="form-group">
                            <select asp-for="ProvinciaId" class="form-control" disabled >
                            @foreach (var item in context.Provincias)
                            {
                                @:<option @(item.ProvinciaId == Model.ProvinciaId ? "selected" : "") value="@item.ProvinciaId">@(item.NombreProvincia)</option>
                            }
                            </select>
                            <span asp-validation-for="ProvinciaId" class="text-danger"></span>
                        </div>
                        <div class="row text-center">
                            <div class="col-12">
                                <div>
                                    <span style="color:forestgreen; font-weight:bold;" class="text-center d-block">@ViewBag.Mensaje</span>
                                    <button class="btn-dark btn">@Html.ActionLink("Volver", "Details","Mascota", new { id = ViewBag.idmascota })</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
