@model IEnumerable<PetFinder.Models.Mascota>

@{
    ViewData["Title"] = "Mascotas Perdidas";
}

<h4>Mascotas Perdidas</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Foto
            </th>
            <th>
                Nombre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raza)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="foto_mascota">
                    <img src="~/imagenesUsuarios/@item.Imagen" width="60">                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreMascota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raza)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>                
                <td>
                    @Html.ActionLink("Ver +", "Details", new { id = item.MascotaId })
                </td>
            </tr>
        }
    </tbody>
</table>
